<html>
	<head>
		<link rel="icon" href="data:,">
		<link rel="stylesheet" href="mystyle.css">
	</head>
	<body style="display: grid; place-items: center; height: 100vh; margin: 0;">
		<button style="background: red; color: white; font-size: 20px;" onclick="window.location.href='/css_test.html'">
			STYLES TEST
		</button>

		<div id="container">
			<div class="column">
				<div>
					dupa1: 
				</div>
				<div>
					what?
				</div>
			</div>
			<div class="column">
				<div>
					dupa2: 
				</div>
				<div>
					yes?
				</div>
			</div>
		</div>

	</body>
</html>


