<html>
	<body style="display: grid; place-items: center; height: 100vh; margin: 0;">

		<button style="background: green; color: black; font-size: 20px;" onclick="window.location.href='/dupa.html'">
			GO TO DUPA
		</button>

		<form action="/dupa.html" method="POST">
		  <label for="fname">First name:</label><br>
		  <input type="text" id="fname" name="fname" value="John"><br>
		  <label for="lname">Last name:</label><br>
		  <input type="text" id="lname" name="lname" value="Doe"><br><br>
		  <input type="submit" value="Submit">
		</form>

		CHECK BUS LINE:
		<form action="/bus.html" method="POST">
		  <label for="fname">Bus Line:</label><br>
		  <input type="text" id="line_number" name="line_number" value=""><br>
		  <input type="submit" value="Submit">
		</form>



	</body>
</html>
